img {
    max-width: 100px;
    max-height: 70px;
}

.tabNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lora', 'Courier New', Courier, monospace;
    background-color: #FFFFFF;
    font-size: 1.2rem;
    box-shadow: rgba(0, 0, 0, 0.10) 1px 1px 2.6px;
}

.logoTipo {
    align-self: center;
    margin-left: 80px;
}

.navList {
    display: flex;
    gap: 40px;
    margin-right: 100px;
}

.navList li {
    padding: 10px;
    cursor: pointer;
}

.navList a {
    color: #5F6A6A;
}